 header h1{

    color:#0029CC;
    


}

body {

    background-color:#DAFAFC ;

}

.school-courses{
    color: darkorange;

    

}
#fonts{
    font-family: 'Montserrat', sans-serif;


}
.flex-testing{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px 20px;
    
  



}

.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightpink;
}

