 header h1{

    color:red;
    


}

body {

    background-color:#FAFFD1;

}



    


#fonts{
    font-family: 'Montserrat', sans-serif;


}
.flex-testing{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 20px 20px;
    
  



}

.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C2EDF5;
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #C4F8C7;
    margin-top: 60px;
    color: red;
    
    
}

a:visited{
    color: darkmagenta;
}

a:link{
    color: #D818D1;
}

.header_course{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #C4F8C7;
}

.section_course{
  
    border-bottom: 5px solid black;
    
}

.main-course{
    display: flex;
    flex-direction: column;
}
header ul{
    list-style: none;
}

@media screen and (min-width:600px){
    .main-course{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .border-article{
        border-bottom: 5px solid black;
        
    }
    header ul{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
   
    p{
        padding-top: 30px;
    }
    section{
        margin-top: 20px;
    }
    .heading3{
        padding-top: 0px;
        }

}  

