 header h1{

    color:#0029CC;
    


}

body {

    background-color:#A093E1;

}



    


#fonts{
    font-family: 'Montserrat', sans-serif;


}
.flex-testing{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 20px 20px;
    
  



}

.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C2EDF5;
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #C2EDF5;
}

a:visited{
    color: darkgreen;
}

a:link{
    color: red;
}